<?xml version="1.0"?>
<robot xmlns:xacro="http://ww.ros.org/wiki/xacro" >
    <!-- Color Material Section -->>
    <material name="white">             <!--servo color-->
        <color rgba="1 1 1 1"/>
    </material>

    <material name="orange">            <!--hull color-->
        <color rgba="1 0.5 0 1"/>
    </material>

    <material name="blue">              <!--antenna color-->
        <color rgba="0 0 1 1"/>
    </material>

    <material name="green">             <!--motor color-->
        <color rgba="0 1 .1 1"/>
    </material>

    <!-- PROPERTIE VARIABLES -->
    <!--Hull Size-->>
        <!-- 18 18 36 inches for the max size hull box-->
        <!-- keep in mind ROS uses metric -->
    <xacro:property name="nasa_hull_length" value="0.4572" />
    <xacro:property name="nasa_hull_width" value="0.4572" />
    <xacro:property name="nasa_hull_height" value="0.9144" />
    
    <xacro:property name="hull_length" value="0.4572" />
    <xacro:property name="hull_width" value="0.4572" />
    <xacro:property name="hull_height" value="0.9144" />

    <xacro:property name="CRAFT_mass" value="2.5" />

    <xacro:property name="motor_radius" value="0.15" />
    <xacro:property name="servo_radius" value="0.24" />
    <xacro:property name="motor_length" value="0.65" />
    <xacro:property name="servo_length" value="0.20" />

    <!-- ANTENNA VARIABLES -->
        <!-- Not Final Values, need to calculate these with Tyler -->
    <xacro:property name="lamda" value="0.125" />
    <xacro:property name="antenna_height" value="0.225" />
    <xacro:property name="antenna_spacing" value="0.250" /> <!--use for both x and z((?), is it y? its the flat coordinates, not the height)-->
    <xacro:property name="antenna_center_offset" value="0.110" /> <!--offset for antenna center joint to be in correct destination-->
    <xacro:property name="antenna_radius" value="0.075" />
</robot>
