<?xml version="1.0"?>
<robot xmls:xacro="http://ww.ros.org/wiki/xacro" >
    <!-- Color Material Section -->>
    <<material name="white">
        <<color rgba="1 1 1 1"/>
    </material>>

    <<material name="orange">
        <<color rgba="1 0.5 0 1"/>
    </material>>

    <<material name="blue">
        <<color rgba="0 0 1 1"/>
    </material>>

    <<material name="green">
        <<color rgba="0 1 .1 1"/>
    </material>>

    <!-- PROPERTIE VARIABLES -->
    <!--Hull Size-->>
        <!-- 18 18 36 inches for the max size hull box-->>
    <xacro:property name="hull_length" value="0.4572" />
    <xacro:property name="hull_width" value="0.4572" />
    <xacro:property name="hull_height" value="0.9144" />

    <xacro:property name="CRAFT_mass" value="2.5" />

    
</robot>