<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
    _____________________________________________________________________
        include this file into: /description/robot.urdf.xacro 
        using following line: 
                    <xacro:include filename="robot_gazebo.xacro" /> 
    _____________________________________________________________________ 
    * Gazebo is unable to use the same <material> tags that are already in the URDF (that RViz uses).
    Instead, we need to add gazebo tags for our links that refer to Gazebo materials
-->

    <xacro:include filename="physics_include.xacro" /> 


    <gazebo reference="base_link">
        <material>Gazebo/DarkGrey  </material>
    </gazebo>
    <gazebo reference="hull">
        <material>Gazebo/Blue</material>
    </gazebo>   
    <gazebo reference="propeller">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="rudder">
        <material>Gazebo/Yellow</material>
    </gazebo>

</robot>
